.postform-container {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #a7c8eb;
  box-shadow: 1px 1px 3px 0px grey;
  display: flex;
  padding: 10px;
  width: 100%;
}

.postform-infocard {
  width: 30%;
  height: 270px;
  text-align: center;
  padding: 5px;
}

.postform-image {
  margin: 30px auto;
}

.postform-postform {
  height: 270px;
  width: 70%;
  padding: 5px;
}

.postform-button {
  float: right;
  margin: 15px 0px !important;
}
